{% extends "base.html" %}
{% block body %}

<div>What do <strong>you</strong> think the following program will print?</div>
<hr />

<div class"row">
    <div class="col-sm-6">
        <img class="code" src="{{ url_for('static', filename=image_path) }}" />
    </div>
    <div class="col-sm-6">
        <form action="experiment" method="post" onsubmit="return validateResponse();">
            <textarea id="response" name="response" cols="35" rows="15" onpaste="return false;"></textarea>
            <input id="responses_js" type="hidden" name="responses_js" value="[]" />

            <br />
            <br />
            <input id="submit1" type="submit" />
        </form>
    </div>
</div>

<script type="text/javascript">
    var finished = false;
    var responses = []

    function nowUTC() {
        var now = new Date();
        return Date.UTC(now.getFullYear(), now.getMonth(), now.getDate(),
            now.getHours(), now.getMinutes(), now.getSeconds(), now.getMilliseconds());
    }

    function validateResponse() {
        resp_val = $("#response").val();

        // Check for empty response
        if ((resp_val == null) || (resp_val.length < 1)) {
            alert("Please enter what you think this program will print!");
            return false;
        }

        // Final response
        responses.push([nowUTC(), resp_val]);

        // Update form variables
        finished = true;
        $("#responses_js").val(JSON.stringify(responses))
        $("#submit1").attr("disabled", "disabled");
        return true;
    }

    $(function() {
        $("#response").focus();
        $("#response").keypress(function(event) {
            var c = String.fromCharCode(event.which);

            if (!event.shiftKey) {
                c = c.toLowerCase();
            }

            var resp_val = $("#response").val() + c;
            responses.push([nowUTC(), resp_val]);
        });

        // Start of trial
        responses.push([nowUTC(), ""]);
    });

    // Disable pasting
    $(function () {
        var onload = window.onload;

        window.onload = function () {
            if (typeof onload == "function") {
                onload.apply(this, arguments);
            }

            var fields = [];
            var inputs = document.getElementsByTagName("input");
            var textareas = document.getElementsByTagName("textarea");

            for (var i = 0; i < inputs.length; i++) {
                fields.push(inputs[i]);
            }

            for (var i = 0; i < textareas.length; i++) {
                fields.push(textareas[i]);
            }

            for (var i = 0; i < fields.length; i++) {
                var field = fields[i];

                if (typeof field.onpaste != "function" && !!field.getAttribute("onpaste")) {
                    field.onpaste = eval("(function () { " + field.getAttribute("onpaste") + " })");
                }

                if (typeof field.onpaste == "function") {
                    var oninput = field.oninput;

                    field.oninput = function () {
                        if (typeof oninput == "function") {
                            oninput.apply(this, arguments);
                        }

                        if (typeof this.previousValue == "undefined") {
                            this.previousValue = this.value;
                        }

                        var pasted = (Math.abs(this.previousValue.length - this.value.length) > 1 && this.value != "");

                        if (pasted && !this.onpaste.apply(this, arguments)) {
                            this.value = this.previousValue;
                        }

                        this.previousValue = this.value;
                    };

                    if (field.addEventListener) {
                        field.addEventListener("input", field.oninput, false);
                    } else if (field.attachEvent) {
                        field.attachEvent("oninput", field.oninput);
                    }
                }
            }
        }
    });

    window.onbeforeunload = function () {
        if (!finished) {
            return "Are you sure? You will not be able to complete the experiment.";
        }
    }
</script>

{% endblock %}
